fastapi==0.111.0
uvicorn[standard]==0.29.0
langchain==0.2.6
langchain-core==0.2.10
langchain-community==0.2.6
langchain-huggingface==0.0.3
langchain-openai==0.1.14
langchain-text-splitters==0.2.2
sentence-transformers==3.0.1
chromadb==0.5.3
posthog>=2.4.0,<3.0.0
pydantic==2.7.4
python-multipart==0.0.9
pypdf==4.2.0
pandas==2.2.2
python-dotenv==1.0.1
httpx==0.27.0
tiktoken==0.7.0
reportlab==4.2.0
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
